<as-split class="split" unit="percent" [direction]="direction">
    <as-split-area size="50">
        <mat-tab-group>
            <mat-tab label="Deck">
                <app-deck-editor [feedCards]="addCardObs"></app-deck-editor>
            </mat-tab>
        </mat-tab-group>
    </as-split-area>
    <as-split-area size="50">
        <mat-tab-group>
            <mat-tab label="Search">
                <app-search (addEmit)="addToDeck($event)"></app-search>
            </mat-tab>
            <mat-tab label="Visualize">
                <app-visualization></app-visualization>
            </mat-tab>
        </mat-tab-group>
    </as-split-area>
</as-split>