span {
  flex: 1;
}

.mat-toolbar {
  border-bottom-right-radius: 5px;
}

form {
  min-width: 300px !important;
}
.mat-form-field {
  min-width: 300px !important;
}
.mat-input-wrapper {
  min-width: 300px !important;
}

.marginButton {
  margin: 10px;
  margin-right: 20px;
}